* {
    font-family: 'Roboto', sans-serif;
}
.aktivno > a {
    color: #292663 !important;
}
.navbar {
    background-color: white;
    /*color: white !important;*/
    font-size: 19px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);;
}
.nav-link {
    color: #8ed8f8 !important;
}

.nav-link:hover {
    /*background-color: #00afb9;*/
    color: #292663 !important;
}
.different::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #292663;
    transition: width ease .3s;
}

.different:hover::after {
    width: 100%;
}
.hero-div {
    position: relative;
}

.hero-pozadina {
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(56, 62, 66, 0.7); /* Green background with 0.5 opacity */
    color: #f1f1f1;
    border-top: 1px solid #8ed8f8;
    border-bottom: 1px solid #8ed8f8;
    width: 100%;
    height: auto;
}